# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/
*.log
velocity.log.1
taotao-common/src/test/
taotao-manager/taotao-manager-common/src/test/
taotao-manager/taotao-manager-rpc-api/src/main/resources/
taotao-manager/taotao-manager-rpc-api/src/test/
taotao-manager/taotao-manager-rpc-service/src/test/
taotao-manager/taotao-manager-web/src/test/
/velocity.log
/velocity.log.1
